@import 'tailwindcss';

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    scrollbar-gutter: stable;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Italic";
    src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}

@theme {
    --color-backdrop: var(--color-gray-900);
    --color-text-light: var(--color-gray-300);
    --color-text-dark: var(--color-gray-500);
}

@layer components {
    * {
        font-family: "Rubik";
    }

    body {
        @apply bg-backdrop;
    }

    .center-content {
        @apply flex items-center place-content-center
    }

    /* .main-wrapper {
        @apply w-screen h-screen bg-backdrop flex flex-col items-center;
    } */

    .main-wrapper {
        @apply max-w-5xl relative mx-auto px-6 py-16 flex-1 w-full flex flex-col;
    }

    .main-content {
        @apply w-full h-screen bg-backdrop;
    }
}

/* This is an interesting fix and it works so we no longer touch it :D */
@media (width <= 1280px) {
    .md\:px-80 {
        padding-inline: 0;
    }
}